<article>
    <h3>The Real Value of Money</h3>
    <figure>
        <img src="./img/money.jpg" alt="US Dollar bills" /> 
        <figcaption>American Dollar Bills</figcaption>
    </figure>
    <p>
        <cite>By Mark Manson</cite>
        Money is a touchy subject. That's because most of us, to a certain degree, associate a lot of our self-worth and identity to our job and how much money we make. It is, quite literally, a market valuation of our skills and competence as a person, and therefore we all get a little bit testy and scooch around uncomfortably in our chairs whenever money is brought up.

        But money is merely an arbitrary store of value. It is not value itself.
        
        There are many stores of value in life. Time is a form of value. Knowledge is a form of value. Happiness and other positive emotions are a form of value. Money is often just the vehicle of interchanging these various forms of value with one another.
        
        The real value of money - rolled up bills
        
        Money is not the cause of wealth in one's life. It is the effect. Similarly, when people assume that money is the cause of their problems, they are actually mistaken. Money is usually the most noticeable effect of their problems.
        
        Money is fluid. Its value only becomes realized when it's put into motion. Therefore, money is a reflection of the owner's values and intentions.
        
        Most people mistake being rich for owning lots of stuff or achieving some sort of fame or status. I could max out my credit card buying VIP tables in Vegas all weekend and take selfies with Ivanka Trump, but that doesn't make me rich. On the contrary, it would make me kind of a douchebag.
        
        There is that old saying from Fight Club, “The things you own end up owning you.” Materialism, by and large, is a psychological trap. No matter how much you own, how much you buy, how much you earn, the disease of more never goes away. Meanwhile, you're working longer hours, taking bigger risks, foregoing more and more parts of your life.
        
        Money is inherently neutral. It's merely a vessel for the exchange of experience between two people. You make your money by creating experiences for others. You then give your money to others to receive experiences in return.
        
        Even when you buy some material good like a sports car or a diamond necklace, you're not just buying the physical goods, you're buying the experience of driving that car or wearing that necklace. You're buying the experience of power, speed, or social status that's associated with it. You're buying that ornament to your identity, that knowledge of what owning and using it feels like and whether it makes you happy or not.</p>
</article>
<article>
    <h3>GMO Food</h3>
    <figure>
        <img src="./img/gmo.jpg" alt="corn and other GMO foods" /> 
        <figcaption>GMO foods</figcaption>
    </figure>
    <p>
    <cite>By World Health Organization</cite>

        Genetically modified (GM) foods are foods derived from organisms whose genetic material (DNA) has been modified in a way that does not occur naturally, e.g. through the introduction of a gene from a different organism. The technology is often called “modern biotechnology” or “gene technology”, sometimes also “recombinant DNA technology” or “genetic engineering”. Currently available GM foods stem mostly from plants, but in the future foods derived from GM microorganisms or GM animals are likely to be introduced on the market. Most existing genetically modified crops have been developed to improve yield through the introduction of resistance to plant diseases or of increased tolerance of herbicides. GM foods can also allow for reductions in food prices through improved yields and reliability.

        In the future, genetic modification could be aimed at altering the nutrient content of food, reducing its allergenic potential or improving the efficiency of food production systems. All GM foods should be assessed before being allowed on the market.
        All genetically modified foods currently available on the international market have passed safety assessments and no effects on human health have been shown as a result of consuming GM foods. When discussing and developing GM foods, three main safety issues are considered. The first is allergenicity, meaning the ability of the edited genes or food product to cause an allergic reaction. No allergic effects have been found relative to GM foods currently on the market. The second is the transfer of genes from GM foods to the human digestive tract. The probability of transfer is low; however, the use of gene transfer technology that does not involve antibiotic resistance genes is encouraged. Third is outcrossing, meaning the transfer of genes from GM organisms to other species. Several countries have developed preventative strategies, including clear separation of GM and non-GM food crops.

        Each GM organism uses different genes and in different ways. Therefore, each GM food should be tested and their safety assessed on a case-by-case basis using international guidelines. The World Health Organization and the Food and Agriculture Organization collaborate on the Codex Alimentarius Commission, which develops the standards, codes of practice, guidelines and recommendations concerning food, including GM products.
    </p>
</article>
<article>
    <h3>The View of World in 2100</h3>
    <figure>
        <img src="./img/2100.jpg" alt="Tons of people walking around" /> 
        <figcaption>Grayscale Photography of People Walking in Train Station
        </figcaption>
    </figure>
    <p>
    <cite>By Business Insider</cite>

        Already, around seven billion, we are experiencing severe poverty, hunger, a shortage of resources, increased urbanization and climate change issues.

Will we be doomed by 2100, or can we make it work? Since we've only got one planet (so far), let's hope for the latter.
Increased urbanization will be one of the main ways the planet will sustain 10 billion people. There will be a lot of new cities, and mega-cities (cities with a population of over 20 million) will become more common.

Possible candidates for mega-city status include: Beijing, Delhi, Jakarta, Mexico City, Mumbai, São Paulo, and Shanghai.
Right now, there are over 7,000 languages spoken. But lesser used languages will fall by the wayside, while English will become the most used form of communication around the world. 
We already have 925 million hungry people worldwide. An increase in population will add to that number, and global warming may hinder our ability to fight the problem.

Rising temperatures worldwide "shorten the growing season in the tropics and subtropics, increase the risk of drought, and reduce the harvests of dietary staples such as rice and maize by 20 percent to 40 percent." That means hundreds of millions of people will have to look elsewhere when traditional sources of food dry up.
Carbon dioxide is expected to reach a level of 560 parts per million by the end of the century, resulting in the destruction of over 9,000 coral reefs worldwide.

Besides being nice to look at, reefs are home to thousands of species of fish and are the feeding and spawning grounds of countless other animals.

The ability of coral reefs to regenerate is compromised when water acidity levels and temperature are too high.

These finite sources of energy will eventually become extinct, especially at our rate of consumption. Some tables have oil use declining at five percent a year after 2040. Gas is expected to decline even faster.

Hydro energy and renewable energy (such as wind and solar power) are expected to see continued increasing use, and should become our primary sources of power by 2100 and beyond.    
An increasingly globalized world will mean more and more people taking their talents abroad, crossing borders to find better opportunities. Diversity will become more common in countries that now have general ethnic homogeneity, as Americans travel to Asia and an even bigger melting pot in Europe.

Countries and cities that don't go after global talent will fall behind.
</p>
</article>