<h2>Portfolio</h2>
<ul class="projects">
    <li>
        <img src="./img/business.jpg" alt="Business">
        <h3>
            Business
        </h3>
    </li>
    <li>
        <img src="./img/crime.jpg" alt="Crime">
        <h3>
            Crime
        </h3>
    </li>
    <li>
        <img src="./img/education.jpg" alt="Education">
        <h3>
            Education
        </h3>
    </li>
    <li>
        <img src="./img/parties.jpg" alt="Festivals">
        <h3>
            Festivals
        </h3>
    </li>
    <li>
        <img src="./img//politics.jpg" alt="Politics">
        <h3>
            Politics
        </h3>
    </li>
    <li>
        <img src="./img/sports.jpg" alt="Sports">
        <h3>
            Sports
        </h3>
    </li>
</ul>